<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= content_for(:title) || "Career Compass" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="min-h-screen bg-gray-50 flex flex-col">
    <%= render "shared/navbar" %>
    <%= render "shared/flash" %>
    <main class="flex-grow container mx-auto px-6 py-12 max-w-7xl">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
